.cover__subtitle {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-left: 412px;
    padding-right: 412px;
    padding-top: 32px;
    padding-bottom: 245px;
    z-index: 1;
    max-width: 360px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__subtitle {
        padding-left: 332px;
        padding-right: 332px;
        padding-bottom: 195px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__subtitle {
        padding-left: 204px;
        padding-right: 204px;
        padding-bottom: 115px;
    }
}

@media screen and (max-width: 767.95px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
        padding-bottom: 33px;
    }
}