.place__paragraph {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    padding-bottom: 26px;
}

.place__paragraph:last-child {
    padding-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px)  {
    .place__paragraph {
        font-size: 16px;
        padding-bottom: 25px;
        line-height: 26px;
    }
}

@media screen and (max-width: 767.95px) {
    .place__paragraph {
        padding-bottom: 25px;
        font-size: 16px;
        padding-right: 16px;
        padding-left: 16px;
        line-height: 26px;
    }

    .place__paragraph:last-child {
        padding-bottom: 0;
    }
}