.place__website {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    align-self: end;
}

@media screen and (max-width: 767.95px) {
    .place__website {
        padding-right: 16px;
        padding-left: 16px;
    }
}