.header__item {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    padding-top: 18px;
}

@media screen and (max-width: 767px) {
    header__item {
        padding-top: 14px;
    }
}